/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.xml
.vagrant/machines/api-restful/virtualbox/action_provision
.vagrant/machines/api-restful/virtualbox/action_set_name
.vagrant/machines/api-restful/virtualbox/id
.vagrant/machines/api-restful/virtualbox/index_uuid
.vagrant/machines/api-restful/virtualbox/private_key
.vagrant/machines/api-restful/virtualbox/action_set_name
/.vagrant/
.vagrant/machines/api-restful/virtualbox/action_set_name
.vagrant/machines/api-restful/virtualbox/action_set_name
/.vagrant/
/.idea
.vagrant/machines/api-restful/virtualbox/action_set_name
.vagrant/machines/api-restful/virtualbox/action_set_name
